<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <a class="footer__logo-link" href="#">
          <svg class="logo">
            <use xlink:href="images/sprite.svg#logo"></use>
          </svg>
          <div class="footer__logo-text">
            autodrone
          </div>
        </a>
        <p class="footer__text">
          Look up the sky and beautiful
          world easily.
        </p>
      </div>
      <div class="footer__list">
        <h6 class="footer__list-title">
          Explore
        </h6>
        <ul class="footer__list-items">
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Our Services</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Specification</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Refund</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link" href="#">Playlist</a>
          </li>
        </ul>
      </div>
      <div class="footer__info">
        <h6 class="footer__info-title">
          Account
        </h6>

        <ul class="footer__info-items">
          <li class="footer__info-item">
            <a class="footer__info-link" href="#">My Account</a>
          </li>
          <li class="footer__info-item">
            <a class="footer__info-link" href="#">Top Benefit</a>
          </li>
          <li class="footer__info-item">
            <a class="footer__info-link" href="#">How-to Tutorials</a>
          </li>
          <li class="footer__info-item">
            <a class="footer__info-link" href="#">Moment</a>
          </li>
        </ul>
      </div>
      <div class="footer__contact">
        <h6 class="footer__contact-title">
          Office
        </h6>
        <a class="footer__contact-phone" href="tel:+021 2208 1996">
          +021 2208 1996
        </a>
        <a class="footer__contact-adress" href="#">
          SCBD, Jakarta
           <span class="footer__contact-adress__span">No.2 (Autodrone)</span>
        </a>

        <a class="footer__contact-email" href="mailto:support@autodrone.id">
          support@autodrone.id
        </a>
      </div>
    </div>
  </div>
</footer>