<header class="header" style="background: url(images/header-image.jpg);background-position: center center;">
  <div class="container">
    <div class="header__inner">
      <a href="#">
        <svg class="logo">
          <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">HOME</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">GALLERY</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">PRODUCTS</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">REVIEW</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">SUPPORT</a>
          </li>
        </ul>
      </nav>
      <svg class="search">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
    </div>
    <div class="header__info">
      <div class="header__title">
        Representing Drone Light 
      </div>
      <p class="header__text">
        Look up the  sky and beautiful world with simple navigation. <br>
        Just record anmd get a lot memories to share, lighlty and fast like a lightning
      </p>
      <a class="header__link btn" href="#">
        GET NOW
      </a>
    </div>
  </div>
</header>