<div class="state-images">
  <div class="state-images__items">
    <a class="state-images__link" href="#">
      <div class="state-images__item" style="background: url(images/state-images/image-1.jpg)">
        <div class="state-images__inner">
          <div class="state-images__title">
            Ultra Light
          </div>
          <p class="state-images__text">
            Drone move faster with weighing
            component <span>under 200 g</span>
          </p>
        </div>
      </div>
    </a>
    <a class="state-images__link" href="#">
      <div class="state-images__item" style="background: url(images/state-images/image-2.jpg)">
        <div class="state-images__inner">
          <div class="state-images__title state-images__title--white">
            Best Resolution
          </div>
          <p class="state-images__text state-images__text--white">
            Take a beautiful view with best camera
            up to <span>4K Camera Resolution</span>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>