<div class="professions">
  <div class="container">
    <div class="professions__title">
    What Our “Pilots
    Are Saying
    </div>
    <div class="professions__items">
      <a class="professions__wrapper" href="#">
        <div class="professions-item">
          <p class="professions-item__text">
           With high resolution camera,
          picture become clear and beautiful.
          It’s so easy to operate drone.
        </p>
          <div class="professions-item__info">
            <img class="professions-item__img" src="images/professions/image-1.png" alt="image 1">
            <div class="professions-item__description">
              <span class="professions-item__name">Hugo Adams</span>
              <span class="professions-item__profession">Content Creator</span>
            </div>
          </div>
        </div>
      </a>
      <a class="professions__wrapper" href="#">
        <div class="professions-item">
          <p class="professions-item__text">
           Taking high view video become
            easy and faster. Battery performance
            really helping for making film.
        </p>
          <div class="professions-item__info">
            <img class="professions-item__img" src="images/professions/image-2.png" alt="image 2">
            <div class="professions-item__description">
              <span class="professions-item__name">Jennie Obrien</span>
              <span class="professions-item__profession">Director Film</span>
            </div>
          </div>
        </div>
      </a>
      <a class="professions__wrapper" href="#">
        <div class="professions-item">
          <p class="professions-item__text">
           Making video content for my trip
            vlog so powerful and wonderful.
            Love the video quality.
        </p>
          <div class="professions-item__info">
            <img class="professions-item__img" src="images/professions/image-3.png" alt="image 3">
            <div class="professions-item__description">
              <span class="professions-item__name">Lisa Millz</span>
              <span class="professions-item__profession">Content WQCreator</span>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>