<div class="info">
  <div class="container">
    <div class="info__inner">
      <img class="info__image" src="images/info/info-image1.jpg" alt="drone image">
      <div class="info-item">
        <div class="info-item__title">
          Why Drone Light?
        </div>
        <p class="info-item__text">
          We provide a best self drone easy to use and operate. With
          auto pilot, the device will take a beautiful view for the
          best of flying operation.
        </p>
        <div class="info-item__description">
          <div class="info-item__description-value">
            <span class="info-item__decription-numbers">
              4K
            </span>
            <div class="info-item__description-data">
              Camera
              Resolution
            </div>
          </div>
          <div class="info-item__description-value">
            <span class="info-item__decription-numbers">
              2 TB
            </span>
            <div class="info-item__description-data">
              Storage
              Capacity
             </div>
          </div>
          <div class="info-item__description-value">
            <span class="info-item__decription-numbers">
              60 m/s
            </span>
            <div class="info-item__description-data">
              Super <br>
              Max Speed 
            </div>
          </div>
          <div class="info-item__description-value">
            <span class="info-item__decription-numbers">
              30 mins
            </span>
            <div class="info-item__description-data">
              Long Flight
              Time
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>