<div class="top-header">
  <div class="container">
    <div class="top-header__inner">
      <a href="#">
        <svg class="logo">
          <use xlink:href="images/sprite.svg#logo"></use>
        </svg>
      </a>
      <nav class="top-menu">
        <ul class="top-menu__list">
          <li class="top-menu__item">
          <a class="top-menu__link" href="#">HOME</a>
          </li>
          <li class="top-menu__item">
          <a class="top-menu__link" href="#">GALLERY</a>
          </li>
          <li class="top-menu__item">
          <a class="top-menu__link" href="#">PRODUCTS</a>
          </li>
          <li class="top-menu__item">
          <a class="top-menu__link" href="#">REVIEW</a>
          </li>
          <li class="top-menu__item">
          <a class="top-menu__link" href="#">SUPPORT</a>
          </li>
        </ul>
      </nav>
      <svg class="search">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
    </div>
  </div>
</div>