.product-detail{
  color: $black;

  img{
    max-width: none;
  }

  &__inner{
    display: flex;
  }

  &__slide{
    margin-right: 50px;
  }

  &__info{
    width: 300px;
  }

  &__info-title{
    font-size: 28px;
    line-height: 1.5;
    @extend %poppins-600;
  }

  &__info-text{
    font-size: 20px;
    line-height: 1.5;
    @extend %poppins-300;
    margin-bottom: 10px;
  }

  &__info-price{
    font-size: 48px;
    line-height: 1.5;
    @extend %poppins-600;
    margin-bottom: 10px;
    display: inline-block;
  }

  &__info-features{
    font-size: 22px;
    line-height: 1.5;
    @extend %poppins-500;
    margin-bottom: 25px;
  }

  &__info-item{
    font-size: 20px;
    line-height: 1.5;
    @extend %poppins-300;
    margin-bottom: 20px;
    padding-left: 45px;
  }
  
  .last-item{
    margin-bottom: 40px;
  }

  &--camera,
  &--storage,
  &--speed,
  &--battery{
    position: relative;
  }

  &--camera{
    
    &::before{
      content: '';
      background-image: url('../images/icons/camera.svg');
      width: 25px;
      height: 23px;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }   

  &--storage{
    &::before{
      content: '';
      background-image: url('../images/icons/storage.svg');
      width: 25px;
      height: 25px;
      position: absolute;
      top: 2px;
      left: 0;
    }
  }

  &--speed{
    &::before{
      content: '';
      background-image: url('../images/icons/speed.svg');
      width: 25px;
      height: 25px;
      position: absolute;
      top: 1px;
      left: 0;
    }
  }

  &--battery{
    &::before{
      content: '';
      background-image: url('../images/icons/battery.svg');
      width: 22px;
      height: 16px;
      position: absolute;
      top: 6px;
      left: 0;
    }
  }

  &__info-btn{
    font-size: 18px;
    line-height: 1.5;
    @extend %poppins-600;
    color: #fff;
    background-color: #2E4DEC;
    padding: 12px 75px;
    border-radius: 30px;
    transition: background-color .3s;
    &:hover{
      background-color: #1ABC9C;
    }
  }

}


.product-slide{
  width: 700px;
  margin-bottom: 50px;

  &__wrapper-big{
    border: 1px solid #E5E5E5;
    padding: 17px 15px;
    border-radius: 15px;
    margin-bottom: 20px;

  }


  &__big-item{
    img{
      width: 700px;
      height: 516px;
      object-fit: cover;
    }
  }

  &__thumb-item{
    margin-right: 15px;
    cursor: pointer;
    &--last{
      margin-right: 0;
    }

    img{
      object-fit: cover;
      width: 163px;
      height: 120px;
      border: 1px solid #E5E5E5;
      padding: 10px;
      border-radius: 10px;
    }
  }

}
.product-description{
 
  &__inner{
    border: 1px solid #E5E5E5;
    padding: 22px 42px 36px 22px;
    border-radius: 10px;
    margin-bottom: 100px;
  }

  &__title{
    font-size: 28px;
    line-height: 1.5;
    @extend %poppins-600;
    margin-bottom: 22px;
  }

  &__text{
    font-size: 20px;
    line-height: 1.9;
    @extend %poppins-300;
  }

}