<div class="new-products">
  <div class="new-products__title">
    New Products
  </div>
  <p class="new-products__text">
    New innovation, best quality than before. <br>
    Make every moment flying operation become unforgettable.
  </p>

  <div class="new-products__items">
    <a class="new-products__wrapper" href="#">
      <div class="product-item">
        <img class="product-item__img" src="images/new-products/drone-1.jpg" alt="new product">
        <div class="product-item__info">
          <div class="product-item__title">
            Mini Drone
          </div>
          <p class="product-item__text">
            Powerful camera drone at an
            affordable price range. Camera
            up to 4K resolution, optimize shots
            automatically.
          </p>
          <a class="product-item__link btn" href="#">
            GET NOW
          </a>
        </div>
      </div>
    </a>
    <a class="new-products__wrapper" href="#">
      <div class="product-item">
        <img class="product-item__img" src="images/new-products/drone-2.jpg" alt="new product">
        <div class="product-item__info">
          <div class="product-item__title">
            Drone Light
          </div>
          <p class="product-item__text">
            Drone light is every creators dream.
            Setting apperture manually and high
            battery  performance. Drone light is
            everything you need.
          </p>
          <a class="product-item__link btn" href="#">
            GET NOW
          </a>
        </div>
      </div>
    </a>
    <a class="new-products__wrapper" href="#">
      <div class="product-item">
        <img class="product-item__img" src="images/new-products/drone-3.jpg" alt="new product">
        <div class="product-item__info">
          <div class="product-item__title">
            Phantom Drone
          </div>
          <p class="product-item__text">
            Inspired by phantom, drone
            can move faster and quickly like a ghost.
            Focus on speed so you can investigate
            environtment quickly.
          </p>
          <a class="product-item__link btn" href="#">
            GET NOW
          </a>
        </div>
      </div>
    </a>
  </div>
</div>